
a{
  display: flex;
  justify-content: center;
}

.component {
  border:2px solid;
  padding:12px;
  margin:12px;
  text-align: center;
  border-radius: 10px;
}
.super{
box-shadow: -5px -5px 10px;
border-radius: 10px;
}
